
@{
    ViewBag.Title = "Chart";
}

<h2>Chart</h2>

<body>

    <div class="services">
        <div class="container">
            <div class="text-center">
               @{
                   var myChart = new Chart(width: 600, height: 400)
                       .AddTitle("Chart Title")
                       .AddSeries(
                           name: "ChartTitle",
                           chartType: "Pie",
                           xValue: new[] { "Col1", "Col2", "Col3", "Col4", "Col5" },
                           yValues: new[] { "2", "6", "4", "5", "3" })
                       .Write();
            }
            </div>
</div>
</body>